.navbar{
  background-color: #000000;
  padding: 5px;
  color: white;
  font-size: 20px;
}
.navbar li{
  display: inline;
  margin-right: 20px;
}
.navbar a{
  color: white;
  text-decoration: none;
}
.navbar a:hover{
  text-decoration: underline;
}
.Apps{
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  color: #333;
  margin: auto;
}