
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f3f4f6; /* light gray */
  color: #333;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .container {
    margin: 20px;
    padding: 15px;
  }
}
